.td {
	height: 80px;

	position: relative;
	vertical-align: middle;
}

.twoLines,
.percent {
	display: flex;
	align-items: center;
}

.td .strip {
	align-self: flex-end;
}

.medium {
	font-weight: 500;
}

.semi {
	font-weight: 600;
}

.arrow {
	margin-right: 3px;
	margin-top: 3px;
}

.arrowTop {
	fill: var(--green);
}

.arrowBottom {
	fill: var(--red);
	transform: rotate(180deg);
}

.mainTextGreen {
	color: var(--green);
}

.mainTextRed {
	color: var(--red);
}

.strip {
	margin-top: 10px;
}

.greyText {
	font-weight: 600;
	color: var(--dark-grey);
	margin-top: 10px;
}

.bottomGreyText {
	display: block;

	margin-top: 5px;
}

.littleText {
	font-size: 14px;
}

.standardText {
	font-size: 16px;
}

.largeText {
	font-size: 18px;
}

.alignStart {
	text-align: start;

}

.alignEnd {
	text-align: end;
}