.thStart {
	text-align: start;
}

.thEnd {
	text-align: end;
}

.infoTip {
	margin-left: 5px;
	vertical-align: middle;
}

.arrowDown {
	transform: rotate(180deg);
}

.arrowStart {
	margin-left: 5px;
}

.arrowEnd {
	margin-right: 5px;
}