.button {
	padding: 12px 24px;

	border-radius: 11px;
	border: none;

	cursor: pointer;
}

.blue {
	background-color: var(--blue);
	color: var(--white);
}


.blue:hover {
	background-color: var(--blue-hover);
}

.grey {
	background-color: var(--light-grey);
	font-weight: 600;
}

.grey:hover {
	background-color: var(--medium-grey);
}