.table {
	border-collapse: collapse;

	margin: 0 auto;
}

.table tr:hover:not(thead>tr) {
	background-color: var(--hover-grey);
}

th {
	font-size: 12px;
	border-top: 1px solid var(--light-grey);
	border-bottom: 1px solid var(--light-grey);

	height: 65px;
}

td {
	border-bottom: 1px solid var(--light-grey);
}

th,
td {
	padding: 0 20px;
}

.loadButton {
	margin-top: 30px;
	margin-bottom: 20px;
}