@media screen and (max-width: 980px) {

	.namePart {
		display: flex;
		justify-content: space-between;
	}

	.addInfoName,
	.addInfoValue {
		font-size: 12px !important;
	}

	.addInfoDiv {
		/* display: flex !important; */
		flex-wrap: wrap;
		justify-content: space-between !important;
	}

	.addInfoValue {
		text-align: end;
	}

	.value {
		text-align: end;
	}

	.strip {
		width: 100% !important;
	}
}


.mainPart {
	margin-bottom: 30px;
}


.partDiv {
	text-align: start;
}

.name,
.addInfoName {
	color: var(--dark-grey-text);
	font-size: 14px;
	font-weight: 500;
}

.name {
	margin-bottom: 10px;
}

.value,
.addInfoValue {
	font-size: 14px;
	font-weight: 600;
}

.nameTipDiv {
	display: flex;
	align-self: baseline;
	gap: 5px;

	cursor: pointer;
}

.nameTipDiv>.tip {
	margin-top: 2px;
}


.addInfoDiv {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	justify-content: flex-end;
}

.addInfoName {
	display: flex;
	align-items: center;
	gap: 5px;
}

.addInfoTip {
	cursor: pointer;
}

.strip {
	margin-top: 15px;
}