@media (min-width: 1211px) {
	.showButton {
		display: none;
	}

	.currencyDetails {
		display: grid;
		grid-template-columns: [start] auto [medium] 1fr [end] 10px;
		gap: 0px 120px;
	}

	.leftPart {
		grid-column: start / medium;
	}

	.rightAdd {
		grid-column: medium / end;
	}

	.rightHeader {
		text-align: left;
	}

	.priceRow {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.minMaxStrip {
		width: 200px;
	}
}

@media (max-width: 1210px) {
	.showButton {
		display: none;
	}

	.currencyDetails {
		display: grid;
		grid-template-areas:
			'nav .'
			'header price'
			'addinfo addinfo'
		;
		grid-template-columns: auto auto;
		gap: 30px;
	}

	.leftNav {
		grid-area: nav;
		margin-bottom: -10px !important;
	}

	.leftPart {
		grid-area: header;
	}

	.rightHeader {
		grid-area: price;
	}

	.rightAdd {
		grid-area: addinfo;
		justify-self: center;
	}

	.rightHeader {
		text-align: right;
	}

	.priceRow {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 10px;
	}

	.minMaxDiv {
		justify-content: end;
	}

	.minMaxStrip {
		width: 200px;
	}
}

@media (max-width: 980px) {
	.showButton {
		display: block;
		grid-area: more;
	}

	.currencyDetails {
		display: grid;
		grid-template-areas:
			'header'
			'price'
			'more'
		;
		grid-template-columns: auto;
		gap: 30px;
	}

	.currName,
	.symbol,
	.leftNav {
		display: none !important;
	}

	.rightAdd {
		display: none !important;
	}

	.leftPart {
		grid-area: header;
	}

	.rightHeader {
		text-align: left;
	}

	.priceRow {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
	}

	.minMaxDiv {
		justify-content: flex-start;
	}

	.minMaxStrip {
		width: 200px;
	}

	.priceRow {
		justify-content: space-between;
	}

	.minMaxDiv {
		display: grid !important;
		grid-template-rows: auto auto;
		grid-template-columns: auto 1fr auto auto auto;
		grid-template-areas:
			'textMinMax1 valMinMax1 . textMinMax2 valMinMax2'
			'stripMinMax stripMinMax stripMinMax stripMinMax stripMinMax';
	}

	.minMaxStrip {
		width: 100% !important;
		grid-area: stripMinMax;
	}



	.minMaxText:last-child {
		grid-area: textMinMax2;
	}

	.minMaxValue:first-child {
		grid-area: valMinMax1;
	}

}

@media (max-width: 600px) {

	.minMaxText,
	.minMaxValue {
		font-size: 12px !important;
	}
}

.leftHeader {
	display: grid;
	grid-template-columns: [startimg] 32px [endimg] auto [endtext] 1fr [endtag];
	gap: 15px;
}

.image {
	grid-column: startimg / endimg;
	align-self: center;
}

.currName {
	font-weight: 700;
	font-size: 32px;
	line-height: 42px;

	grid-column: endimg / endtext;
}

.symbol {
	grid-column: endtext / endtag;
	align-self: center;
	justify-self: start;
}

.leftSecondLine {
	display: flex;
	gap: 15px;
	margin-top: 15px;
}

.rank,
.coin {
	justify-self: start;
}

.links {
	display: flex;
	gap: 15px;
	margin-top: 15px;
}

.backLink {
	color: var(--dark-grey-text);

	font-size: 14px;
}

.backLink:hover {
	text-decoration: underline;
}

.arrowBack {
	fill: var(--dark-grey-text);
	margin-left: 10px;
	margin-right: 10px;
	align-self: center;
}

.leftNav {
	display: flex;

	margin-bottom: 20px;
	font-weight: 500;
}



.infoTip {
	margin-left: 5px;
	vertical-align: middle;
}

.rightName {
	color: var(--dark-grey-text);
	font-size: 14px;
	font-weight: 500;

	margin-bottom: 10px;
}

.rightCompare {
	color: var(--dark-grey-text);

	margin-top: 10px;

	font-weight: 500;
}

.rightPrice {
	font-size: 30px;
	font-weight: 700
}

.arrowPercent {
	margin-right: 5px;
}

.percentTag {
	display: flex;
	align-items: center;
}

.arrowDown {
	transform: rotate(180deg);
}


.minMaxDiv {
	display: flex;
	align-items: center;
	gap: 10px;

	margin-top: 10px;
}

.minMaxText {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;

	color: var(--dark-grey-text);
}

.minMaxValue {
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
}

.statsDiv {
	display: flex;
	justify-self: start;

	border-top: solid 1px var(--light-grey);
	margin-top: 30px;
	padding-top: 30px;
}

.statsPart {
	min-width: 200px;
	max-width: 300px;
}

.statsPart:not(:first-child) {
	border-left: solid 1px var(--light-grey);
	padding-left: 30px;
}

.statsPart:not(:last-child) {
	padding-right: 30px;
}