@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white: #FFFFFF;
  --light-grey: #EFF2F5;
  --medium-grey: #CFD6E4;
  --dark-grey: #808A9D;
  --hover-grey: #F8FAFD;
  --red: #EA3943;
  --green: #16C784;
  --blue: #3861FB;
  --blue-hover: #3459E7;
}